_setup/helloworld/n8n/workflows/rAczBsYXmwUPlMg2.json
{
  "updatedAt": "2025-12-08T23:02:55.762Z",
  "createdAt": "2025-12-08T23:02:55.762Z",
  "id": "rAczBsYXmwUPlMg2",
  "name": "severino-xmpp",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-xmpp.xmppTrigger",
      "typeVersion": 2,
      "position": [
        -448,
        304
      ],
      "id": "47092a65-7890-4758-a541-d7e911859e53",
      "name": "XMPP Trigger",
      "credentials": {
        "xmppApi": {
          "id": "k8H43Hls4bkl4dYG",
          "name": "severino"
        },
        "rabbitMqApi": {
          "id": "ICd61JnH5Fe2ORoX",
          "name": "rabbitmq"
        }
      }
    },
    {
      "parameters": {
        "model": "gemma3:270m",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        80,
        736
      ],
      "id": "0f1b48e0-b9cc-4f7b-abc3-bcd49b285b45",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "EYqm0sOiMHyHe0lm",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "to": "={{ $('XMPP Trigger').item.json.data.from }}",
        "message": "={{ $json.output }}"
      },
      "type": "n8n-nodes-xmpp.xmpp",
      "typeVersion": 1,
      "position": [
        352,
        512
      ],
      "id": "1b8fb5d6-2b6f-4e7b-935f-e40357d97638",
      "name": "Send message",
      "credentials": {
        "xmppApi": {
          "id": "k8H43Hls4bkl4dYG",
          "name": "severino"
        },
        "rabbitMqApi": {
          "id": "ICd61JnH5Fe2ORoX",
          "name": "rabbitmq"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data.body }}",
        "options": {
          "systemMessage": "pretend your name is severino, running inside google gemma llm"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        0,
        512
      ],
      "id": "ad6b52b9-0652-4ba7-8e4b-80b09ae7d037",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.data.from }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        80,
        224
      ],
      "id": "a4c1c640-84cc-433f-9ebf-49bc9781cc26",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "740cf9e9-c4c2-4208-bc47-df0a30df00c5",
              "leftValue": "={{ $json.data.body }}",
              "rightValue": "#wipe",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        304
      ],
      "id": "266f24ae-406a-483c-a229-796aef672b8c",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "delete",
        "deleteMode": "all"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "15ecc7a9-c294-4c10-a633-02bf1607753a",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "to": "={{ $('XMPP Trigger').item.json.data.from }}",
        "message": "=bot memory wiped"
      },
      "type": "n8n-nodes-xmpp.xmpp",
      "typeVersion": 1,
      "position": [
        320,
        0
      ],
      "id": "ad62848b-cfbf-433f-afbf-69a43e510de0",
      "name": "wipe ok",
      "credentials": {
        "xmppApi": {
          "id": "k8H43Hls4bkl4dYG",
          "name": "severino"
        },
        "rabbitMqApi": {
          "id": "ICd61JnH5Fe2ORoX",
          "name": "rabbitmq"
        }
      }
    }
  ],
  "connections": {
    "XMPP Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "node": "wipe ok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b8713463-c74e-430d-af6b-3d7670d34888",
  "versionCounter": 1,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-12-08T23:02:55.762Z",
      "createdAt": "2025-12-08T23:02:55.762Z",
      "role": "workflow:owner",
      "workflowId": "rAczBsYXmwUPlMg2",
      "projectId": "KRoMdGqwpyEYIrvM",
      "project": {
        "updatedAt": "2025-12-08T22:59:45.182Z",
        "createdAt": "2025-12-08T22:59:02.924Z",
        "id": "KRoMdGqwpyEYIrvM",
        "name": "Admin Admin <admin@uaiso.lan>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}